Options -Indexes
DirectoryIndex index.php index.html

RewriteEngine On
RewriteBase /clipboard/
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /clipboard/index.html [L]
